@import '~normalize.css';
@import '../css/iconfont.css';
@import './theme.styl';

* 
    margin 0

html, body
    height 100%
input 
    line-height unset

.container
    height 100%
    width 100%
    text-align left

    &--nav
        border-top 46px solid white
        &__without
            border-top 0
    &--tab
        border-bottom 50px solid white

.background
    background-color ($background)!important;

.scroll-view
    overflow-y scroll
    overflow-x hidden
    // scroll-behavior smooth
    // -webkit-overflow-scrolling touch

.border-radius
    overflow hidden
    &--4
        border-radius 4px
    &--round
        border-radius 50%

.height
    &--full
        height 100%

.font-size
    &--17
        font-size 17px
    &--14
        font-size 14px
    &--12
        font-size 12px